@import url('https://fonts.googleapis.com/css2?family=Exo&family=Major+Mono+Display&display=swap');

* {
    box-sizing: border-box;
}

header {
    background-color: #6d6875;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0vw;
    z-index: 1;
}

nav {
    width: 45%;
    padding: 35px;
}

nav a {
    font-family: "Major Mono Display", sans-serif;
    background-color: #000000;
    color: #ffffff;
    padding: 15px;
    border-radius: 20px;
}

nav a:hover {
    text-transform: lowercase;
    border: #9a8c98 solid 2px;
}

h1 {
    font: 40px "Major Mono Display", sans-serif;
    color: #ffffff;
    margin-left: 50px;
}

h1:hover {
    color: #000000;
    background-color: #9a8c98;
    border-radius: 10px;
    text-transform: lowercase;
}

h2, h3, p, a, section button {
    font-family: Exo, sans-serif;
    text-decoration: none;
}

h2 {
    font-size: 35px;
    text-align: center;
}

h3 {
    font-size: 25px;
    margin: 20px;
}

p, a {
    margin: 20px;
    font-size: 20px;
}

#about, #projects {
    padding: 10px;
    margin-bottom: 15vh;
}

.about-text {
    padding: 3vh;
    line-height: 40px;
    width: 55%;
}

.skills-container {
    display: flex;
    float: right;
}

.skills {
    border: #000000 solid 2px;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    width: 20vh;
    height: 20vh;
}

.skills:hover {
    border: 2px #cc8b86 solid; 
}

.html {
    position: relative;
    bottom: 65vh;
    left: 30vh;
}

.css {
    position: relative;
    bottom: 60vh;
    left: 30vh;
}

.javascript {
    position: relative;
    bottom: 42vh;
    left: -18vh;
}

.git {
    position: relative;
    bottom: 37vh;
    right: 18vh;
}

.caption {
    font-size: 14px;
    font-weight: bold;
}

#projects a {
    padding: 10px;
    color: #ffffff;
    background-color: #6d6875;
}

#projects a:hover {
    background-color: #cc8b86; 
    color: #000000;
}

#projects p, h3 {
    line-height: 1.5;
    margin-top: 0;
}

.video { 
    z-index: -1;
    padding: 6vh;
    width: 48.5%;
    background-color: #e5e5e5;
} 

video {
    border: 1px #000000 solid;
}

.projects-text {
    display: flex;
    flex-direction: column;
    float: right;
    width: 50%;
    position: relative;
    top: 6vh;
}

.links {
    display: flex;
}

#contact {
    display: flex;
    justify-content: center;
    background: url("media/network.jpeg") no-repeat center center scroll;
    background-size: cover;
}

.contact-links {
    background: #ffffff;
    border: 2px #000000 solid;
    border-radius: 20px;
    margin: 10px;
    padding: 5px;
}

#contact img:hover {
    background-color: #BEBFC5;
    border-radius: 50%;
}

footer p {
    font-size: 12px;
    text-align: center;
}
